/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body{
    font-size: 1.2rem;
    line-height: 1.5;
}

#mainCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    border: 3px solid grey;
    padding: 3% 20% 3% 2%;
}

.parole {
    color: #6A889C;
}
/* la prima animazione non riparte e non capisco il perchè */
#parola1 {
    position: relative;
    animation-name: dissolvi, appari;
    animation-duration: 2s;
    animation-iteration-count: infinite, infinite;
    animation-delay: 2s, 4s;

}

#parola2 {
    position: relative;
    left: -16.5vh;
    opacity: 0;
    /*animation-name: appari;
    animation-duration: 2s;
    animation-iteration-count: infinite;*/

}

#parola3 {
    position: relative;
    left: -34vh;
    opacity: 0;
    /*animation-name: appari;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4s;*/
}

@keyframes dissolvi {
    from {top: 0; left:0; opacity: 1;}
    to {top:3vh; opacity: 0;}
}

@keyframes appari {
    from {top:-3vh; opacity: 0;}
    to {top:0; opacity:1}
}
